<header>
    <nav class="bg-red-800 p-4 border-b-2 border-yellow-500 text-white">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{{ path('app_home_index') }}" class="flex items-center text-white text-lg font-bold">
                <img src="{{ asset('images/logo.png') }}" class="w-12" alt="logo">
                Tagada CRM
            </a>
            <ul class="flex space-x-4">
                <li><a href="{{ path('app_home_index') }}" class="text-gray-300 hover:text-white">Home</a></li>
                <li><a href="{{ path('app_user_index') }}" class="text-gray-300 hover:text-white">Users</a></li>
                <li><a href="{{ path('app_user_login') }}" class="text-gray-300 hover:text-white">Login</a></li>
                <li><a href="{{ path('app_user_register') }}" class="text-gray-300 hover:text-white">Register</a></li>
                <li><a href="{{ path('app_home_index') }}" class="text-gray-300 hover:text-white">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
